h1 {
  text-align: center;
  color: orange;
  font-size: 80px;
}

h2 {
  padding-left: 40px;
  font-size: 40px;
}

h3 {
  padding-left: 40px;
  font-size: 30px;
  font-style: italic;
}

.column1 {
  float: left;
  width: 60%;
}

.column2 {
  float: left;
  width: 40%;
}

#order {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 40px;
}

#orderMore {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 40px;
}

#small {
  width: 14%;
  vertical-align: middle;
  padding-left: 10px;
}

#medium {
  width: 24%;
  vertical-align: middle;
}

#large {
  width: 30%;
  vertical-align: middle;
}